.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

.input {
}

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.tableContainer {
  display: flex;
  width: 600px;
}

.containerClients {
  display: flex;
  padding-top: 30px;
  width: 600px;
}
