.tablesContainer {
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ebf4fc;
}