.container {
  color: black;
  text-decoration: none;  
  display: flex;
  flex-flow: row wrap;
  padding-top: 10%;
  justify-content: center;
}

.btn{
  background-color:white;
  border: none;
  cursor: pointer;
  padding: 30px;
  font-size: 22px;
  width: 300px;
  align-self: center;
}

.btn:hover {
  background-color: rgb(158, 208, 240);
  border-radius: 10%;
}

@media (max-width: 1600px) {
  .btn {
    width: 300px;
    font-size: 22px;
  }
 
}

/* @media (max-width: 1300px) {
  .btn {
    width: 280px;
    font-size: 23 px;
  }
} */

@media (max-width: 900px) {
  .container {
    padding-top: 20%;
  }
  .btn {
    font-size: 23px;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    padding-top: 10%;
  }
  .btn {
    width: 260px;
    font-size: 21px;
  }
}