.container {
  display: grid;
  gap: 10px;
  padding: 10px; 
  grid-template-areas:
  'aa ab ac ';
}

.item1 {
  grid-area: aa;
}
.item2 {
  grid-area: ab;
  gap: 10px;

} 
.item3 {
  grid-area: ac;

} 

.noticesConteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.p {
    font-style: italic;
}

.typography {
    margin-bottom: 10px !important;
}

.button {
    margin-top: 10px;
    
    height: 40px;
    width: 840px;
    border-radius: 0.5vw;
    font-size: 16px;
    border: 0ch;
    cursor: pointer;
    color: #fff;
    background-color: #437db6;
  }

  .button:hover {
    box-shadow: 0px 0px 0px 3px rgb(184, 231, 254);
  }

  .filterIcon {
    width: 40px !important;
    height: 40px !important;
  }

  .dateConteiner {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.date {
    margin: 10px;
}

.conteinerDialog {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.button2 {
    margin: 10px;
    height: 40px;
    width: 200px;
    border-radius: 0.5vw;
    font-size: 16px;
    border: 0ch;
    cursor: pointer;
    color: #fff;
    background-color: #437db6;
  }

  .button2:hover {
    box-shadow: 0px 0px 0px 3px rgb(184, 231, 254);
  }

  .buttonsConteiner {
    display: flex;
    justify-content: center;
  }

  .form {
    display: flex;
    flex-flow: column;
}